/* 
declaration block:

    selector{
        property: value;
        property2: value;
    }
*/

/* changes in the body for; background image, no repeat, scrolls with the page
has a secondary background color of white, with white text */
body{
    background-image: url("grunge-with-decorative-frame_1048-13812.avif");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: lightgray;
    color: rgb(255, 255, 255);
}

/* navigation properties for height, width, 
floats left with a line height difference */
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

/* nothing in footer but requirement
for the assignment */
footer{
    text-align: center;
    margin-right: 200px;
}

/* this was my first attempt to center my image, 
it did not center, used a div tag,
height and width of image */
#memeImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
}

/* the div tag defined where i wanted my image */
div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* h1 is my header, i changed;
background image, size of image, and color of text */
h1{
    text-align: center;
    background-image: url("colorful-bubble-art-black-background-abstract-style_53876-128387.avif");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 213, 0);
}

/* my navigation list settings */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #030000;
    border: 1px solid white;
}

/* individual list boxes */
li a {
    display: block;
    width: 68px;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
}

/* change link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

/* bottom border for lists */
li:last-child {
    border-bottom: none;
}